<!doctype html>
<html lang="en" class="en no-js no-touch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Amstel Housing - Rent Listings</title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<meta property="og:url" content="http://www.amstelhousing.nl/rentlistings?city=Rotterdam&amp;range=&amp;bedrooms=&amp;max_price=1000">
	
	
		<meta property="og:title" content="Rent Listings - Amstel Housing">
		
			<meta property="og:image" content="http://www.amstelhousing.nl/assets/attachments/logo">
		
		<meta property="og:site_name" content="Amstel Housing">
	

	<link rel="Shortcut Icon" href="/assets/attachments/favicon">

	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/assets/minified-all-XCciJcv2YiSBhiEyg92XZg.css" media="screen">
	
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto Sans">
	
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Architects Daughter">
	

	

	<script id="loadcss" data-css="/assets/minified-print-D0SRMr5LmSOj1BU0pK2wNQ.css"></script> <!-- because https://github.com/filamentgroup/loadCSS#optional-arguments -->
	<!--[if IE 9]>
	<script src="/assets/js/shims/classList.min.js"></script>
	<script src="/assets/js/shims/matchMedia.js"></script>
	<script src="/assets/js/shims/matchMedia.addListener.js"></script>
<![endif]-->

	<script src="/assets/minified-header-_vmPJlKdtCtFbQ9efXYvHw.js"></script>
</head>

<body class="search-page has-slogan">

	<script type="text/javascript">ASAP.insertSVGSprite();</script>


	<div class="outer-container" data-token="w6RkRWVonJnliNOvviMrfQ">

		<div class="main">

			

			

			

			
				<section class="filter-bar no-desktop">
	<div class="wrap">
		<button class="tiny-button filter-button"><svg class="magnifier-icon"><use xlink:href="#shape-basic_magnifier"/></svg><span>Filter</span></button>
		<button class="tiny-button open-favorites favorites-button"><svg class="favorites-icon"><use xlink:href="#shape-star"/></svg><span class="number"></span><span>&nbsp;favorites</span></button>
		<button class="tiny-button close-favorites favorites-button close-button"><span class="text">Sluit Favorieten</span><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg></button>
		<button class="tiny-button view-button show-map no-desktop"><svg class="map-icon"><use xlink:href="#shape-basic_map"/></svg>Map</button>
		<button class="tiny-button view-button show-list no-desktop"><svg class="list-icon"><use xlink:href="#shape-basic_archive_full"/></svg>List</button>
	</div>
</section>

<div class="wrap no-mobile-wrap">
	<aside class="search-block desktop-only">
		<div class="view-buttons">
			<button class="view-button show-list"><svg class="list-icon" xmlns="http://www.w3.org/2000/svg" width="334" height="235" viewbox="0 0 334 235">
    <path d="M0 235h89.027v-55H0v55zm124.027 0H334v-55H124.027v55zM0 145h89.027V90H0v55zm124.027 0H334V90H124.027v55zM0 55h89.027V0H0v55zm124.027 0H334V0H124.027v55z"/>
</svg>
List</button>
			<button class="view-button show-map"><svg class="map-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="412" height="411.696" viewbox="0 0 412 411.696">
    <defs>
        <path id="a" d="M0 0h412v411.696H0z"/>
    </defs>
    <clippath id="b">
        <use xlink:href="#a" overflow="visible"/>
    </clippath>
    <path clip-path="url(#b)" d="M346.848 0c-35.983 0-65.155 29.172-65.155 65.152 0 53.506 51.245 59.164 65.155 140.542C360.758 124.314 412 118.66 412 65.154 412 29.17 382.83 0 346.848 0m0 86.938c-12.906 0-23.366-10.46-23.366-23.364 0-12.905 10.46-23.367 23.366-23.367 12.904 0 23.365 10.462 23.365 23.367 0 12.903-10.46 23.364-23.365 23.364m63.17 54.33c-10.782 13.498-21.106 26.437-28.067 47.12V331.84l-74.96 40.703V176.405c-4.376-9.463-9.528-17.23-15.024-24.545v219.043l-81.806-52.91v-215.84l70.95 35.895c-10.293-12.968-21.005-27.42-26.2-47.19l-51.915-26.41-93.81 48.743L0 55.09V349.37l109.185 62.328 93.81-62.32 95.815 62.32L412 349.368V138.78l-1.983 2.487M101.003 372.543L30.05 331.84V104.908l70.953 37.94v229.695zm94.828-54.55l-79.8 52.91V143.538l79.8-41.385v215.84z"/>
</svg>
Map</button>
		</div>
		<div class="favorites-buttons">
			<div class="open-favorites favorites-button button has-svg"><svg class="star-icon"><use xlink:href="#shape-star-no-stroke"/></svg>My <span class="number">[num]</span> favorites</div>
			<div class="close-favorites favorites-button button has-svg"><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg>Sluit Favorieten</div>
		</div>
	</aside>

	<section class="results list-pane">
		<section class="listings">
			<ul>
				
					<li class="listing listing-wide">
	<div class="listing-slider property-images-slider window slider-not-built" data-url="/rotterdam-brussestraat-ENH00032798168">
	<svg class="star" data-id="H00032798168" viewbox="0 0 52.363 49.799">
    <path stroke-width="2" stroke-miterlimit="10" d="M26.18 2.292L18.844 17.43 2.18 19.73l12.128 11.655-2.96 16.56L26.18 40.01l14.834 7.934-2.96-16.56L50.18 19.73l-16.663-2.3z"/>
</svg>

	<p class="price">




	

	
		€975 (excl.)
	

</p>
	
		<p class="label">Leased (option)</p>
	
	<ul class="slides">
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984070-919.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984066-181.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984065-812.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984058-433.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984057-731.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984063-36.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984051-800.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984064-312.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984049-116.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984047-490.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984053-928.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984054-235.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984055-656.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984056-81.JPG"></li>
	
		<li class="slide image-slide" data-src="https://public.parariusoffice.nl/3/photos/huge/2798168.1431984111-884.jpg"></li>
	</ul>
	<div class="custom-ui">
		<div class="custom-prev custom-ui-button bg-arrows_left-white inactive">Prev</div>
		<div class="custom-next custom-ui-button bg-arrows_right-white">Next</div>
	</div>
</div>

<div class="details property-page-link" data-url="/rotterdam-brussestraat-ENH00032798168">
	<p class="city-zipcode-address">Rotterdam <span class="address">Brussestraat</span></p>
	<p class="description break-word no-mobile">Well maintained 2/3 bedroom apartment on the outskirts of the city center and within reach of a variety of shopping, dining and entertainment facilities. Meent, Pannekoekstraat, the weekly market on Binnenrotte, Markthal as well as the subway and train station Blaak are all within walking distance.<br>The property is located on the 3rd (top) floor with storage in the basement and a balcony at the rear with an unobstructed view over a green area.<br><br>Layout: <br>3rd Floor: Entrance with wardrobe and cupboard.  Light living room (5.75 x 3.35m) with laminate floor.  Master bedroom (approx 3.15 x 2.70m), 2nd bedroom (approx 3.65 x 1.80m) and 3rd study / dressing room (ca. 3.65 x 1.30m). Modern kitchen with 4-burner gas stove, refrigerator, washing machine and door to the balcony on the west.  Fully tiled modern shower with toilet.<br></p>
	<ul class="mini-features">
		<li class="price">




	

	
		€975 (excl.)
	

</li>
		<li class="bedrooms"><svg class="bed-icon-no-wide-listings"><use xlink:href="#shape-bed-white"/></svg><svg class="bed-icon-wide-listings"><use xlink:href="#shape-bed"/></svg>2</li>
		<li class="surface"><svg class="surface-icon-no-wide-listings"><use xlink:href="#shape-surface-white"/></svg><svg class="surface-icon-wide-listings"><use xlink:href="#shape-surface"/></svg>75 m&sup2;</li>
	</ul>
</div>
</li>

				
			</ul>
			
		</section>

		

		<div class="call-to-action">
			<p class="text"></p>
			
			<a href="/searchrequest" class="subscribe-button button accent-color mobile-only">Subscribe now</a>
			<a href="/searchrequest" class="subscribe-button button no-mobile">Subscribe now</a>
			
			
			<a href="#" class="call-me-button button mobile-inverse-accent-color">Let us call you!</a>
			
		</div>
	</section>
</div>

<section id="maps-overview" class="map-pane"></section>

			

			

			

			

		</div>

		<footer>
	<div class="footer-top">
		<div class="wrap">
			
			
			<div class="links">
				<h2>Links</h2>
<ul>
	
	<li><a href="/exclusive" class="external" rel="nofollow">Amstelveen</a></li>
	
	<li><a href="/amsterdam" class="external" rel="nofollow">Amsterdam</a></li>
	
	<li><a href="/brabant" class="external" rel="nofollow">Brabant</a></li>
	
	<li><a href="/gooi" class="external" rel="nofollow">Gooi &amp; Vechtstreek</a></li>
	
	<li><a href="/haarlem" class="external" rel="nofollow">Haarlem</a></li>
	
	<li><a href="/rotterdam" class="external" rel="nofollow">Rotterdam</a></li>
	
	<li><a href="/thehague" class="external" rel="nofollow">The Hague</a></li>
	
	<li><a href="/utrecht" class="external" rel="nofollow">Utrecht</a></li>
	
</ul>

			</div>
			<div class="contact">
				<h2>Contact</h2>
				<div class="contact-boxes">
					<p class="contact-box-1">
						<span>Amstel Housing</span><br>
						<span>Startbaan 6</span><br>
						<span>1185 XR Amstelveen</span><br>
						<span></span>
					</p>
					<p class="contact-box-2">
						<span><strong>T.</strong> <a href="tel:020-4417775">020-4417775</a></span><br>
						<span><strong>E.</strong> <a href="mailto:info@amstelhousing.nl">info@amstelhousing.nl</a></span><br>
						
					</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="footer-bottom">
		<div class="wrap">
			
				<div class="social-buttons">
	
		<a href="https://www.facebook.com/pages/Amstel-Housing/135662479887794" class="social-button-facebook" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-facebook-4-icon"/></svg></a>
	
	
		<a href="https://twitter.com/amstelhousing" class="social-button-twitter" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-twitter-4-icon"/></svg></a>
	
	
	
		<a href="www.linkedin.nl" class="social-button-linkedin" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-linkedin-4-icon"/></svg></a>
	
</div>


			
			<p class="copyright">© 2018 - Amstel Housing  |  Powered by <a href="http://www.pararius.nl/parariusoffice/">Pararius Office</a></p>
			<p class="contact desktop-only"><strong>T.</strong> <a href="tel:020-4417775">020-4417775</a> | <strong>E.</strong> <a href="mailto:info@amstelhousing.nl">info@amstelhousing.nl</a></p>
		</div>
	</div>
</footer>
<script>ASAP.stickyFooter();</script>

	</div>

	<div class="popup-bg layer"></div>
<div class="layers">
	<header class="main-header layer">
    <section class="header-top">
        <div class="wrap">
            <a href="/en" class="company-logo"><img src="/assets/attachments/logo" alt="Company logo"></a>

            <div class="vertical-line desktop-only visible-if-slogan"></div>

            <!-- {#pageCustomization.sloganPosition.top}} -->
                <span class="slogan-header-top slogan desktop-only">Your partner for Dutch rentals since 2002</span>
            <!-- {/pageCustomization.sloganPosition.top}} -->

            
                
                    <a href="/rentlistings?city=Rotterdam&amp;range=&amp;bedrooms=&amp;max_price=1000" class="flag-link-en active no-desktop"><span class="flag bg-flag-en"></span></a>
                
                    <a href="/huuraanbod?city=Rotterdam&amp;range=&amp;bedrooms=&amp;max_price=1000" class="flag-link-nl no-desktop"><span class="flag bg-flag-nl"></span></a>
                
            

            <a href="tel:020-4417775" class="call-button mobile-only"><svg class="phone-button"><use xlink:href="#shape-iconmonstr-phone-icon"/></svg></a>

            <button class="menu-button no-desktop">
                <div class="navigation-toggle">
                    <span class="navigation-toggle-icon"></span>
                </div>
                <div class="ghost"></div>
            </button>

            <div class="ghost"></div>
        </div>
    </section>
    <section class="header-bottom desktop-only">
        <div class="wrap">
            <nav class="nav-desktop">
    <ul>
        
            <li>
                <a href="/en">Home</a>
                
            </li>
        
            <li>
                <a href="/properties" class="submenu-active">Properties</a>
                
                    <ul class="submenu text-cloud">
                        
                            <li>
                                <a href="/rentlistings" class="active">Rental Listings</a>
                            </li>
                        
                            <li>
                                <a href="/salelistings">Sale Listings</a>
                            </li>
                        
                    </ul>
                
            </li>
        
            <li>
                <a href="/about-us">About</a>
                
                    <ul class="submenu text-cloud">
                        
                            <li>
                                <a href="/aboutus">About us</a>
                            </li>
                        
                            <li>
                                <a href="/offices">Amstel Housing Offices</a>
                            </li>
                        
                    </ul>
                
            </li>
        
            <li>
                <a href="/searchrequest">Register Tenant</a>
                
            </li>
        
            <li>
                <a href="/rentingout">Register Landlord</a>
                
            </li>
        
            <li>
                <a href="/services">Services</a>
                
                    <ul class="submenu text-cloud">
                        
                            <li>
                                <a href="/renting">Renting</a>
                            </li>
                        
                            <li>
                                <a href="/letting">Letting</a>
                            </li>
                        
                    </ul>
                
            </li>
        
            <li>
                <a href="/contactenglish">Contact</a>
                
            </li>
        
    </ul>
</nav>

            
                
                    <a href="/rentlistings?city=Rotterdam&amp;range=&amp;bedrooms=&amp;max_price=1000" class="flag-link-en active desktop-only"><span class="flag bg-flag-en"></span></a>
                
                    <a href="/huuraanbod?city=Rotterdam&amp;range=&amp;bedrooms=&amp;max_price=1000" class="flag-link-nl desktop-only"><span class="flag bg-flag-nl"></span></a>
                
            

            
	<div class="social-buttons">
		
			<a href="https://www.facebook.com/pages/Amstel-Housing/135662479887794" class="social-button-facebook" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-facebook-icon"/></svg></a>
		
		
			<a href="https://twitter.com/amstelhousing" class="social-button-twitter" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-twitter-icon"/></svg></a>
		
		
		
			<a href="www.linkedin.nl" class="social-button-linkedin" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-linkedin-icon"/></svg></a>
		
	</div>


        </div>
    </section>
    
        <div class="regular-search-desktop search-desktop desktop-only">
            <div class="wrap">
                
                    <form class="search-form" action="/rentlistings">
	
		<ul class="box-1">
			
				
					
					<li class="geo-location">
						<label>Locatie
							<input type="hidden" data-seo-name="" name="pt" value="">
						</label>
						<input type="text" value="Mijn huidige locatie" disabled>
					</li>
					
					
				
			
				
					
					
						<li class="city">
							<label for="search-city">City</label>
							
							
								<select name="city">
									
									<option value="">——</option>
									
									<option value="Abcoude">Abcoude</option>
									
									<option value="Aerdenhout">Aerdenhout</option>
									
									<option value="Amstelhoek">Amstelhoek</option>
									
									<option value="Amstelveen">Amstelveen</option>
									
									<option value="Amsterdam">Amsterdam</option>
									
									<option value="Bennebroek">Bennebroek</option>
									
									<option value="Cruquius">Cruquius</option>
									
									<option value="Culemborg">Culemborg</option>
									
									<option value="Delft">Delft</option>
									
									<option value="Haarlem">Haarlem</option>
									
									<option value="Heemstede">Heemstede</option>
									
									<option value="Hoofddorp">Hoofddorp</option>
									
									<option value="Houten">Houten</option>
									
									<option value="Nieuw Vennep">Nieuw Vennep</option>
									
									<option value="Noordwijkerhout">Noordwijkerhout</option>
									
									<option value="Rotterdam" selected="selected">Rotterdam</option>
									
									<option value="Uithoorn">Uithoorn</option>
									
									<option value="Utrecht">Utrecht</option>
									
									<option value="Vijfhuizen">Vijfhuizen</option>
									
									<option value="Zaandam">Zaandam</option>
									
									<option value="Zandvoort">Zandvoort</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="range">
							<label for="search-range">Range</label>
							
							
								<select name="range">
									
									<option value="">——</option>
									
									<option value="0">0 km</option>
									
									<option value="5">5 km</option>
									
									<option value="10">10 km</option>
									
									<option value="15">15 km</option>
									
									<option value="20">20 km</option>
									
									<option value="25">25 km</option>
									
									<option value="30">30 km</option>
									
									<option value="35">35 km</option>
									
									<option value="40">40 km</option>
									
									<option value="45">45 km</option>
									
									<option value="50">50 km</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="min_price">
							<label for="search-min_price">Price from</label>
							
							
								<select name="min_price">
									
									<option value="">——</option>
									
									<option value="0">€0,-</option>
									
									<option value="250">€250,-</option>
									
									<option value="500">€500,-</option>
									
									<option value="750">€750,-</option>
									
									<option value="1000">€1000,-</option>
									
									<option value="1250">€1250,-</option>
									
									<option value="1500">€1500,-</option>
									
									<option value="1750">€1750,-</option>
									
									<option value="2000">€2000,-</option>
									
									<option value="2250">€2250,-</option>
									
									<option value="2500">€2500,-</option>
									
									<option value="2750">€2750,-</option>
									
									<option value="3000">€3000,-</option>
									
									<option value="3250">€3250,-</option>
									
									<option value="3500">€3500,-</option>
									
									<option value="3750">€3750,-</option>
									
									<option value="4000">€4000,-</option>
									
									<option value="4250">€4250,-</option>
									
									<option value="4500">€4500,-</option>
									
									<option value="4750">€4750,-</option>
									
									<option value="5000">€5000,-</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="max_price">
							<label for="search-max_price">Price to</label>
							
							
								<select name="max_price">
									
									<option value="">——</option>
									
									<option value="0">€0,-</option>
									
									<option value="250">€250,-</option>
									
									<option value="500">€500,-</option>
									
									<option value="750">€750,-</option>
									
									<option value="1000" selected="selected">€1000,-</option>
									
									<option value="1250">€1250,-</option>
									
									<option value="1500">€1500,-</option>
									
									<option value="1750">€1750,-</option>
									
									<option value="2000">€2000,-</option>
									
									<option value="2250">€2250,-</option>
									
									<option value="2500">€2500,-</option>
									
									<option value="2750">€2750,-</option>
									
									<option value="3000">€3000,-</option>
									
									<option value="3250">€3250,-</option>
									
									<option value="3500">€3500,-</option>
									
									<option value="3750">€3750,-</option>
									
									<option value="4000">€4000,-</option>
									
									<option value="4250">€4250,-</option>
									
									<option value="4500">€4500,-</option>
									
									<option value="4750">€4750,-</option>
									
									<option value="5000">€5000,-</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="available_at_date">
							<label for="search-available_at_date">Available at</label>
							
							
							
								<input type="text" name="available_at_date" class="search-available_at_date" value="">
							
						</li>
					
				
			
				
					
					
						<li class="interior">
							<label for="search-interior">Interior</label>
							
							
								<select name="interior">
									
									<option value="">——</option>
									
									<option value="Unfurnished">Unfurnished</option>
									
									<option value="Furnished">Furnished</option>
									
									<option value="Completely empty">Completely empty</option>
									
									<option value="Unfurnished / furnished">Unfurnished / furnished</option>
									
								</select>
							
							
						</li>
					
				
			
		</ul>

		
	

	
		<div class="search-filter-button button flat desktop-only">
			More filters
			<div class="expanded-search desktop-only hide">
				<div class="triangle"></div>
			</div>
		</div>
	

	<button type="submit" class="search-submit-button button has-svg accent-color mobile-fixed-bottom"><svg class="magnifier-icon flat"><use xlink:href="#shape-magnifier-white"/></svg>Search</button>
	<div class="search-submit-button-placeholder"></div>
</form>

<script>ASAP.customSelectBoxes();</script>

                
            </div>
        </div>
    
</header>

	<nav class="nav-mobile layer">
    <div class="carriage-container">
        <div class="carriage">
            <div class="left">
                <ul class="menu-links">
                    
                    <li>
                        <a href="/en" class="left-link">Home<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                    <li>
                        <a href="/properties" class="left-link has-submenu">Properties<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                    <li>
                        <a href="/about-us" class="left-link has-submenu">About<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                    <li>
                        <a href="/searchrequest" class="left-link">Register Tenant<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                    <li>
                        <a href="/rentingout" class="left-link">Register Landlord<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                    <li>
                        <a href="/services" class="left-link has-submenu">Services<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                    <li>
                        <a href="/contactenglish" class="left-link">Contact<span class="arrow-right bg-arrows_down"></span></a>
                    </li>
                    
                </ul>
                <div class="nav-mobile-footer mobile-footer mobile-only">
	<div class="contact-buttons">
		
			<div class="button-container">
				<a href="tel:020-4417775" class="call-button button inverse">Call</a>
			</div>
		
		
			<div class="button-container">
				<a href="mailto:info@amstelhousing.nl" class="email-button button inverse">Email</a>
			</div>
		
	</div>
	<p class="address">Amstel Housing  |  Startbaan 6  |  1185 XR Amstelveen</p>
	<p class="contact-text">T: 020-4417775  |  E: info@amstelhousing.nl</p>
	<br>
	<div class="social-buttons">
	
		<a href="https://www.facebook.com/pages/Amstel-Housing/135662479887794" class="social-button-facebook" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-facebook-4-icon"/></svg></a>
	
	
		<a href="https://twitter.com/amstelhousing" class="social-button-twitter" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-twitter-4-icon"/></svg></a>
	
	
	
		<a href="www.linkedin.nl" class="social-button-linkedin" target="_blank" rel="noopener noreferrer nofollow"><svg><use xlink:href="#shape-iconmonstr-linkedin-4-icon"/></svg></a>
	
</div>


	<br>
	<p class="bottom-line">Made with love in Amsterdam</p>
</div>

            </div>
            <div class="right">
                <ul class="menu-links">
                    
                    
                    
                    
                    <li class="top-li" data-url="/properties">
                        <a href="/properties" class="right-link has-submenu">Properties<span class="arrow-left bg-arrows_down"></span></a>
                        <ul class="submenu">
                            
                            <li>
                                <a href="/rentlistings" class="submenu-link">Rental Listings</a>
                            </li>
                            
                            <li>
                                <a href="/salelistings" class="submenu-link">Sale Listings</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                    
                    
                    <li class="top-li" data-url="/about-us">
                        <a href="/about-us" class="right-link has-submenu">About<span class="arrow-left bg-arrows_down"></span></a>
                        <ul class="submenu">
                            
                            <li>
                                <a href="/aboutus" class="submenu-link">About us</a>
                            </li>
                            
                            <li>
                                <a href="/offices" class="submenu-link">Amstel Housing Offices</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                    
                    
                    
                    
                    
                    
                    <li class="top-li" data-url="/services">
                        <a href="/services" class="right-link has-submenu">Services<span class="arrow-left bg-arrows_down"></span></a>
                        <ul class="submenu">
                            
                            <li>
                                <a href="/renting" class="submenu-link">Renting</a>
                            </li>
                            
                            <li>
                                <a href="/letting" class="submenu-link">Letting</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                    
                    
                    
                </ul>
            </div>
        </div>
    </div>
</nav>

	<div class="property-react-popup form-popup property-layout layer popup">
	<div class="popup-header mobile-only grey-border-bottom wrap">
		<a href="tel:020-4417775" class="call-button button">Bel nu direct</a>
		<button class="close-property-react-popup close-button"><span class="text">Close</span><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg></button>
		<div class="ghost"></div>
	</div>
	<div class="popup-body">
		<div class="outer-buttons no-mobile wrap no-desktop-wrap">
			<button class="close-property-react-popup outer-button close-button"><span class="text">Close</span><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg></button>
		</div>
		<div class="island-container wrap mobile-only-wrap">
			<div class="island">
				
				
					<h2>Contact us about:<br><span class="title-subject"></span></h2>
					<p class="explainer">Enter your details here and we will contact you within two business days for a viewing.</p>
				
				<div class="property-react-form">
	<div class="result"></div>
	<form class="ajax-contact-form contact-form" method="post" action="/contactenglish">
		<input type="hidden" name="token" value="w6RkRWVonJnliNOvviMrfQ">
		<input type="hidden" name="back_office" value="" class="input-back_office">
		<input type="hidden" value="" name="subject" class="input-subject">
		<p>
			<label for="input-name">Name:</label>
			<input type="text" value="" name="name" id="input-name">
		</p>
		<p>
			<label for="input-telephone">Telephone:</label>
			<input type="text" value="" name="telephone" id="input-telephone">
		</p>
		<p>
		    <label for="input-emailaddress">E-mail:</label>
		    <input type="text" value="" name="emailaddress" id="input-emailaddress">
		</p>
		<p>
			<label for="input-message">Message:</label>
			<textarea name="message" id="input-message"></textarea>
		</p>
		<p>
			<button type="submit" class="contact-submit-button button accent-color mobile-fixed-bottom">Contact us</button>
			<div class="contact-submit-button-placeholder"></div>
		</p>
	</form>
</div>

			</div>
		</div>
	</div>
</div>
	<div class="call-me-popup form-popup property-layout layer popup">
	<div class="popup-header mobile-only grey-border-bottom wrap">
		<!-- <a href="/en" class="company-logo"><img src="/assets/attachments/logo" alt="Company logo" /></a> -->
		<a href="tel:020-4417775" class="call-button button">Bel nu direct</a>
		<button class="close-call-me-popup close-button"><span class="text">Close</span><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg></button>
		<div class="ghost"></div>
	</div>
	<div class="popup-body">
		<div class="outer-buttons no-mobile wrap mobile-only-wrap">
			<button class="close-call-me-popup outer-button close-button"><span class="text">Close</span><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg></button>
		</div>
		<div class="island-container wrap mobile-only-wrap">
			<div class="island">
				
				
					<h2>We like to call you!</h2>
					<p class="explainer">We will call you back as soon as possible with a maximum of one working day.</p>
				
				<div class="call-me-form">
	<div class="result"></div>
	<form class="ajax-contact-form contact-form" method="post" action="/contactenglish">
		<input type="hidden" name="token" value="w6RkRWVonJnliNOvviMrfQ">
		<input type="hidden" value="Bel me terug" name="subject">
		<input type="hidden" value="info@amstelhousing.nl" name="emailaddress">
		<input type="hidden" value="-" name="message">
		
		<p>
			<label for="input-name">Name:</label>
			<input type="text" value="" name="name" id="input-name">
		</p>
		<p>
			<label for="input-telephone">Telephone:</label>
			<input type="text" value="" name="telephone" id="input-telephone">
		</p>
		<p>
			<button type="submit" class="contact-submit-button button accent-color mobile-fixed-bottom">Call me</button>
			<div class="contact-submit-button-placeholder"></div>
		</p>
	</form>
</div>

			</div>
		</div>
	</div>
</div>

	
		<section class="main-search-no-desktop search-no-desktop-layout layer">
	<div class="form-box">
		<div class="filter-bar">
			<div class="wrap">
				<span class="tiny-button filter-text"><svg class="magnifier-icon"><use xlink:href="#shape-basic_magnifier"/></svg><span>Filter</span></span>
				<button class="tiny-button close-filter close-button"><span class="text">Close</span><svg class="close-icon"><use xlink:href="#shape-arrows_remove"/></svg></button>
			</div>
		</div>
		<div class="wrap">
			
				<form class="search-form" action="/rentlistings">
	
		<ul class="box-1">
			
				
					
					<li class="geo-location">
						<label>Locatie
							<input type="hidden" data-seo-name="" name="pt" value="">
						</label>
						<input type="text" value="Mijn huidige locatie" disabled>
					</li>
					
					
				
			
				
					
					
						<li class="city">
							<label for="search-city">City</label>
							
							
								<select name="city">
									
									<option value="">——</option>
									
									<option value="Abcoude">Abcoude</option>
									
									<option value="Aerdenhout">Aerdenhout</option>
									
									<option value="Amstelhoek">Amstelhoek</option>
									
									<option value="Amstelveen">Amstelveen</option>
									
									<option value="Amsterdam">Amsterdam</option>
									
									<option value="Bennebroek">Bennebroek</option>
									
									<option value="Cruquius">Cruquius</option>
									
									<option value="Culemborg">Culemborg</option>
									
									<option value="Delft">Delft</option>
									
									<option value="Haarlem">Haarlem</option>
									
									<option value="Heemstede">Heemstede</option>
									
									<option value="Hoofddorp">Hoofddorp</option>
									
									<option value="Houten">Houten</option>
									
									<option value="Nieuw Vennep">Nieuw Vennep</option>
									
									<option value="Noordwijkerhout">Noordwijkerhout</option>
									
									<option value="Rotterdam" selected="selected">Rotterdam</option>
									
									<option value="Uithoorn">Uithoorn</option>
									
									<option value="Utrecht">Utrecht</option>
									
									<option value="Vijfhuizen">Vijfhuizen</option>
									
									<option value="Zaandam">Zaandam</option>
									
									<option value="Zandvoort">Zandvoort</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="range">
							<label for="search-range">Range</label>
							
							
								<select name="range">
									
									<option value="">——</option>
									
									<option value="0">0 km</option>
									
									<option value="5">5 km</option>
									
									<option value="10">10 km</option>
									
									<option value="15">15 km</option>
									
									<option value="20">20 km</option>
									
									<option value="25">25 km</option>
									
									<option value="30">30 km</option>
									
									<option value="35">35 km</option>
									
									<option value="40">40 km</option>
									
									<option value="45">45 km</option>
									
									<option value="50">50 km</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="min_price">
							<label for="search-min_price">Price from</label>
							
							
								<select name="min_price">
									
									<option value="">——</option>
									
									<option value="0">€0,-</option>
									
									<option value="250">€250,-</option>
									
									<option value="500">€500,-</option>
									
									<option value="750">€750,-</option>
									
									<option value="1000">€1000,-</option>
									
									<option value="1250">€1250,-</option>
									
									<option value="1500">€1500,-</option>
									
									<option value="1750">€1750,-</option>
									
									<option value="2000">€2000,-</option>
									
									<option value="2250">€2250,-</option>
									
									<option value="2500">€2500,-</option>
									
									<option value="2750">€2750,-</option>
									
									<option value="3000">€3000,-</option>
									
									<option value="3250">€3250,-</option>
									
									<option value="3500">€3500,-</option>
									
									<option value="3750">€3750,-</option>
									
									<option value="4000">€4000,-</option>
									
									<option value="4250">€4250,-</option>
									
									<option value="4500">€4500,-</option>
									
									<option value="4750">€4750,-</option>
									
									<option value="5000">€5000,-</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="max_price">
							<label for="search-max_price">Price to</label>
							
							
								<select name="max_price">
									
									<option value="">——</option>
									
									<option value="0">€0,-</option>
									
									<option value="250">€250,-</option>
									
									<option value="500">€500,-</option>
									
									<option value="750">€750,-</option>
									
									<option value="1000" selected="selected">€1000,-</option>
									
									<option value="1250">€1250,-</option>
									
									<option value="1500">€1500,-</option>
									
									<option value="1750">€1750,-</option>
									
									<option value="2000">€2000,-</option>
									
									<option value="2250">€2250,-</option>
									
									<option value="2500">€2500,-</option>
									
									<option value="2750">€2750,-</option>
									
									<option value="3000">€3000,-</option>
									
									<option value="3250">€3250,-</option>
									
									<option value="3500">€3500,-</option>
									
									<option value="3750">€3750,-</option>
									
									<option value="4000">€4000,-</option>
									
									<option value="4250">€4250,-</option>
									
									<option value="4500">€4500,-</option>
									
									<option value="4750">€4750,-</option>
									
									<option value="5000">€5000,-</option>
									
								</select>
							
							
						</li>
					
				
			
				
					
					
						<li class="available_at_date">
							<label for="search-available_at_date">Available at</label>
							
							
							
								<input type="text" name="available_at_date" class="search-available_at_date" value="">
							
						</li>
					
				
			
				
					
					
						<li class="interior">
							<label for="search-interior">Interior</label>
							
							
								<select name="interior">
									
									<option value="">——</option>
									
									<option value="Unfurnished">Unfurnished</option>
									
									<option value="Furnished">Furnished</option>
									
									<option value="Completely empty">Completely empty</option>
									
									<option value="Unfurnished / furnished">Unfurnished / furnished</option>
									
								</select>
							
							
						</li>
					
				
			
		</ul>

		
	

	
		<div class="search-filter-button button flat desktop-only">
			More filters
			<div class="expanded-search desktop-only hide">
				<div class="triangle"></div>
			</div>
		</div>
	

	<button type="submit" class="search-submit-button button has-svg accent-color mobile-fixed-bottom"><svg class="magnifier-icon flat"><use xlink:href="#shape-magnifier-white"/></svg>Search</button>
	<div class="search-submit-button-placeholder"></div>
</form>

<script>ASAP.customSelectBoxes();</script>

			
		</div>
	</div>
	<div class="line tablet-only"></div>
</section>

	

	

	<!-- hide unused layers -->
	<div class="curtain layer"></div>
</div>

	<div class="color-refs">
		<div class="mobile_block_faded-color"></div>
	</div>

	
		<div style="display: none;">
			<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P853VV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P853VV');</script>
<!-- End Google Tag Manager —>
		</div>
	

	<!-- templates -->

<script type="text/template" id="contact-infobox-template">
	<div class="contact-infobox">
		<p>
			<span class="name">Amstel Housing</span><br>
			Startbaan 6<br>
			1185 XR Amstelveen<br>
			
			T: 020-4417775<br>
			
		</p>
	</div>
</script>

<script type="text/template" id="infoboxes-template">
	<div class="infobox" data-url="<%- url %>">
		<svg class="star" data-id="<%- id %>" viewBox="0 0 52.363 49.799">
		    <path stroke-width="2" stroke-miterlimit="10" d="M26.18 2.292L18.844 17.43 2.18 19.73l12.128 11.655-2.96 16.56L26.18 40.01l14.834 7.934-2.96-16.56L50.18 19.73l-16.663-2.3z" />
		</svg>
		<div class="ajax-slider" data-url="<%- url %>"></div>
		<div class="details">
			<h2 class="address"><%- address %></h2>
			<p class="district-city"><%- city %></p>
			<ul class="mini-features">
				<li class="price"><%- price %></li>
				<li class="bedrooms"><svg class="bed-icon"><use xlink:href="#shape-bed" /></svg><%- bedrooms %></li>
				<li class="surface"><svg class="surface-icon"><use xlink:href="#shape-surface" /></svg><%- surface %> m&sup2;</li>
			</ul>
		</div>
	</div>
</script>


	<!-- data -->

<script id="data-config" type="application/json">{
	"page": {
		"type": {
			"search": true
		},
		"locale": {
			"en": true
		},
		"address": "Startbaan 6, 1185 XR Amstelveen",
		
		"hasMultipleBackOffices": false,
		
			"formUrl": {
				"subscribeTenant": "/searchrequest",
				"subscribeLandlord": "/rentingout"
			},
		
		"accentColor": "#00c4fa"
	}
}</script>


	<!-- note: district is n/a in allResults -->

	<script id="data-allresults" type="application/json">[{
		"id": "H00032798168",
		"lat": "51.9248818",
		"lng": "4.4926089",
		"title": "Brussestraat, Rotterdam",
		"url": "/rotterdam-brussestraat-ENH00032798168",
		"address": "Brussestraat",
		"city": "Rotterdam",
		"bedrooms": "2",
		"surface": "75",
		"price": "€975 (excl.)"
	},{"dummy": true}]</script>


	<!-- scripts -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC7TKXjzV5_SIKcM2KBOQv5sp5BFym56A&language=en"></script>

<script src="/assets/minified-footer-1h0jjMQ8nLUXp16aqcNE8A.js"></script>


	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-28594714-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		    var ga = document.createElement('script');
		    ga.type = 'text/javascript';
		    ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; // jshint ignore:line
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(ga, s);
		})();
	</script>


</div></body>
</html>

