/* Groot scherm */
@media (min-width: 992px) {
    .mobilemenu{
        display:none;
    }


    .searchbar{
        width:1045px;
        margin:0 auto;
    }

    .uspcontainer{
        width:100%;
    }

    .usps-div{
        margin:0 auto;
        width:1045px;
    }

    .direct{
        margin-top:50px;
    }


    .logo{
        position: absolute;
    }


}


/* Klein scherm */
@media (min-width: 992px) and (max-width: 1199px) {


    .menucontent ul li a {
        font-weight: 600;
        font-size: 14px;
        display: block;
        height: 80px;
        padding: 26px 5px;
        color: #24a569;
        text-decoration: none;
        text-transform: uppercase;
    }

    html, body {
        font-size:12px;
    }

    .direct{
        margin-top:45px;
    }

    .main-menu>li>a {
        margin: 0 9px;
        font-size:11px;
    }

    .usp{
        font-size:12px;
    }

    .aanbodsearch input[type="text"] {
        width:100%;
        padding: 8px 3px;
    }

    .pagebottom .blogcontainer .blogimage{
        height:118px;
    }

    .blogoverview .blogcontainer .blogimage {
        height:90px;
    }

    .blogcontainer .blogimage img{
        width:100%;
    }

    .blogcontainer .spotlight {
        margin-top: -115px;
    }
    .sub-menu>li.first{
        margin-top:2px;
    }

    .homesearch .homesearchlabel {
        font-size: 14px;
    }

    .homesearch .searchbutton{
        font-size:15px;
        margin-top: 12px;
        padding:12px 13px;
    }
    .logo img{
        padding-top:20px;
    }
}

/*Tablet & Phone*/
@media(max-width: 991px) {

    #mobilemenu{
        height:80px;
    }

    .feedbackcompany{
        display:none;
    }

    .direct{
        margin-top:30px;
    }

    .priceselect{
        margin:3px 0;
    }

    .searchfilter{
        display:none;
    }

    .extendedfilter .searchfilter{
        display:block;
    }


    .mobilemenu-container{
        font-size:35px;
        line-height:35px;
        color:#24a569;
        cursor:pointer;
        margin-top:14px;
    }

    .mobilemain-menu{
        margin-bottom:0!important;
    }

    .mobileflag{
        line-height:35px;
        margin-top:14px;
    }

    .mobilemenu{
        height:65px;
    }
    .logo img{
        padding-top:20px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

    html, body {
        font-size:12px;
    }

    .logo img{
        padding-top:20px;
    }
    .logo{
        position:relative;
        z-index:10;
    }

    .searchtitle{
        margin:10px 0;
    }

    .main-menu>li>a {
        margin: 0 9px;
        font-size:14px;
    }

    .blogcontainer .blogtitle a {
        margin: 6px 0;
        height: 55px;
    }

    .homesearch-inner{
    }

    .blogcontainer .spotlight {
        margin-top: -75px;
    }

    .blogcontainer .contentshort {
        height: 70px;
    }

    .usp{
        font-size:12px;
    }

    .aanbodsearch input[type="text"] {
        width:100%;
        padding: 8px 3px;
    }

    .pagebottom .blogcontainer .blogimage{
        height:80px;
    }

    .blogoverview .blogcontainer .blogimage {
        height:90px;
    }

    .blogcontainer .blogimage img{
        width:100%;
    }

    .blogoverview .blogcontainer .spotlight {
        margin-top: -85px;
    }

    .sub-menu>li.first{
        margin-top:2px;
    }

    .cityselect .fancy-select div.trigger, .cityselect .fancy-select ul.options {
        width:120px;
        font-size: 14px;
        margin-right:5px;
    }

    .minprice .fancy-select div.trigger, .minprice .fancy-select ul.options{
        width:75px;
        font-size: 13px;
        margin-right:5px;
    }

    .maxprice .fancy-select div.trigger,  .maxprice .fancy-select ul.options{
        width:75px;
        margin-right:5px;
        font-size: 13px;
    }

    .homesearch .homesearchlabel {
        float: left;
        display: block;
        padding: 0 5px;
        font-size: 12px;
        padding-top:25px;
        line-height: 14px;
        font-weight: bold;
        color: #008b99;
    }
    .searchbutton {
        background: #f79921;
        color: #fff;
        border-radius: 0;
        font-weight: bold;
        font-size: 14px;
        padding:9px 13px;
    }

    .menucontent {
        margin-left: 0px;
    }

    .homesearch-inner .searchbutton {
        margin-left:5px;
        margin-right: 5px;
        margin-top: 12px;
    }

    #menucontainer{
        display:none;
    }
}

/* Telefoon */
@media (max-width: 767px) {


    html, body {
        font-size:12px;
    }

    .mobilesetter{
        height:70px;
    }

    .logo{
        position:relative;
        z-index:10;
    }


    .direct{
        float:none;

    }

    .submenu ul li a {
         padding: 25px 5px;
       }

    .homesearch{
        padding-top:100px;
    }

    .housecontainer .incl a {
        padding-bottom: 5px;
    }
    .housecontainer .street a {
        padding-top: 5px;
    }

    .footercontainer {
        position: inherit;
        height: auto;
        clear: both;
    }
    .footercontent h1,.footercontent h2 {
        margin-bottom: 5px;
        margin-top:10px;
        color: #003663;
    }


    .searchbar-container {
        width: 100%;
        margin-top: 60px;
    }

    .trigger {
        float: right;
    }
    .searchtop {
        width:50%;
        min-height: 55px;
    }

    #menucontainer{
        display:none;
    }

    div.fancy-select div.trigger {
        padding: 13px 24px 9px 8px;
    }

    .cityselect .fancy-select div.trigger, .cityselect .fancy-select ul.options {
        width:100%;
        font-size: 14px;
        margin-right:5px;
    }


    .minprice .fancy-select div.trigger, .minprice .fancy-select ul.options{
        width:100%;
        font-size: 13px;
        margin-right:5px;
    }

    .maxprice .fancy-select div.trigger,  .maxprice .fancy-select ul.options{
        width:100%;
        margin-right:5px;
        font-size: 13px;
    }

    .homesearch .homesearchlabel {
        float: left;
        display: block;
        padding: 0 8px;
        font-size: 12px;
        padding-top:26px;
        line-height: 14px;
        font-weight: bold;
        color: #008b99;
    }

    .homesearch-inner {
        height: auto;
        overflow: hidden;
    }
    .homesearch-inner .cityselect {
        float: right;
        width:55%;
    }

    .homesearch-inner .minprice{
        width:40%;
        float:right;
    }

    .homesearch-inner .maxprice{
        width:40%;
        float:right;
    }

    .mobilemenu-container{
        font-size:35px;
        color:#24a569;
        cursor:pointer;
    }

    .searchbar{
        margin-top:65px;
    }


    .homesearch {
        width:100%;
    }

    .usp{
        display:none;
    }
    .uspfirst{
        display:inherit;
        font-size:12px;
    }

    .houseaddress a {
        margin-top: 5px;
    }

    .houseprice a {
        margin-bottom:10px;
    }

    .searchbutton{
        float:right;
        margin-right:5px!important;
        margin-bottom:12px;
    }


    .blogcontainer .contentshort {
        height:auto;
    }

    .blogcontainer .spotlight {
        margin-top:-34%!important;
    }

    .aanbodsearch input[type="text"] {
        width:100%;
    }

    .blogimage {
        height: auto!important;
    }

    .aanbodcontainer .object .houseimage {
        height: auto;
    }
    .object .nieuw {
        margin-top: -85px;
    }


    .object .verhuurd{
        margin-top: -85px;
    }


    .object .offer{
        margin-top: -85px;
        font-size:11px;
        width: 120px;
    }

    .aanboditemtcontainer .backlink {
        font-size: 12px;
        margin-bottom:5px;
    }

    .object .ppn{
        margin-top: -85px;
        font-size:11px;
        width: 120px;
    }

    #bx-pager{
        display:none;
    }

    .searchtitle{
        margin-bottom:5px;
        margin-top:10px;
    }

    .searchoptions{
        margin:15px;
    }

    .searchcontainer{
        display:none;
    }

    .direct{
        margin-top:10px;
    }
    .logo img{
        padding-top:20px;
    }

    .houseblockcontainer {
        height: auto;
        overflow: visible;
    }

}

