<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="en no-js lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="en no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>House-Select Holland - Search Rent Listings</title>
	
	
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:url" content="http://www.house-select.nl/rent-listings?min_price=&amp;max_price=1000&amp;city=Rotterdam&amp;district=&amp;interior=&amp;bedrooms=">
	
	
		<meta property="og:title" content="Search Rent Listings - House-Select Holland">
		
			<meta property="og:image" content="http://www.house-select.nl/assets/attachments/logo">
		
		<meta property="og:site_name" content="House-Select Holland">
	

	<link rel="stylesheet" href="/assets/minified-all-2MMqQrYfNOSIUDnN8XbXTw.css" media="screen">
	<link rel="stylesheet" href="/assets/minified-print-Px14mqQrbWFtimmqMjnLpw.css" media="print">
	

	

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css">

	<script type="text/javascript" src="/assets/js/vendor/selectivizr-min.js"></script>
	<script type="text/javascript" src="/assets/js/shims/es5-shim.min.js"></script>
	<script type="text/javascript" src="/assets/js/shims/addEventListener-shim.js"></script>
<![endif]-->

<!--[if lte IE 9]>
	<script type="text/javascript" src="/assets/js/shims/classList.min.js"></script>
<![endif]-->
	<script>
	var ENV = ENV || {};
	ENV.locale = 'en';
	ENV.general_font = 'Arial';
	ENV.front_image = '/assets/attachments/frontpageImage';

	ENV.en = ENV.locale === 'en';
	ENV.client_width = document.documentElement.clientWidth;
	ENV.mobile = ENV.client_width <= 725;
	ENV.tablet = ENV.client_width > 725 && ENV.client_width <= 1000;
	ENV.desktop = ENV.client_width > 1000;
</script>

	<script src="/assets/minified-header-kt5-aAZDa0DYbHc7VLEH_w.js"></script>
</head>

<body class="search-page">

	<script>
		ENV.body = document.getElementsByTagName('body')[0];

		asap.set_body_class(ENV.general_font.toLowerCase().replace(/ /gi, '-'));

		
			if (UTIL.get_params().favs === 'true') {
				asap.set_body_class('favorites');
			}
		

		if (ENV.mobile && (ENV.body.classList.contains('search-page') || ENV.body.classList.contains('property-page'))) {
			ENV.mobile_sliders = true;
		}
	</script>


	<div id="page">
		<div id="mobile-nav">
	<a href="/en" class="company-logo"><span class="ghost"></span><img src="/assets/attachments/logo" alt="Company logo"></a>
	<ul class="nav-list">
	
		<li>
			<a href="/en"><span class="hide-border"></span>Welcome to House-Select Holland!</a>
			
		</li>
	
		<li>
			<a href="/about-us"><span class="hide-border"></span>About us</a>
			
		</li>
	
		<li>
			<a href="/rent-listings" class="active"><span class="hide-border"></span>Rental</a>
			
		</li>
	
		<li>
			<a href="/sale-listings"><span class="hide-border"></span>Sale</a>
			
		</li>
	
		<li>
			<a href="/rentlead1"><span class="hide-border"></span>Sign up</a>
			
		</li>
	
		<li>
			<a href="/contact2"><span class="hide-border"></span>Contact</a>
			
		</li>
	
</ul>
	<p class="contact">
		<span>House-Select Holland</span><br>
		<span>Postbus 4107</span><br>
		<span>2980 GC Ridderkerk</span><br>
		<span></span><br>
		<span><strong>Tel:</strong> +31(0)612717675</span><br>
		
		<span><strong>Mail:</strong> <a href="mailto:info@house-select.nl">info@house-select.nl</a></span>
	</p>
	<div id="mobile-flags" class="flags">
		
			<a href="/aanbod-huur?min_price=&amp;max_price=1000&amp;city=Rotterdam&amp;district=&amp;interior=&amp;bedrooms=" class="nl-flag-inactive"></a>
		
			<a href="/rent-listings?min_price=&amp;max_price=1000&amp;city=Rotterdam&amp;district=&amp;interior=&amp;bedrooms=" class="en-flag"></a>
		
	</div>
</div>
		<div id="page-blocker"></div>

		
			<header>
				
<script>
	asap.call_us_bar();
</script>
<section class="logo-bar">
	<div class="wrap">
		<button class="toggle-menu top"><span>Menu</span></button>

		<a href="/en" id="company-logo"><img src="/assets/attachments/logo" alt="Company logo"></a>

		<div id="flags" class="flags">
			
				<a href="/aanbod-huur?min_price=&amp;max_price=1000&amp;city=Rotterdam&amp;district=&amp;interior=&amp;bedrooms=" class="nl-flag-inactive"></a>
			
				<a href="/rent-listings?min_price=&amp;max_price=1000&amp;city=Rotterdam&amp;district=&amp;interior=&amp;bedrooms=" class="en-flag"></a>
			
		</div>

		<nav>
			<ul class="nav-list">
	
		<li>
			<a href="/en"><span class="hide-border"></span>Welcome to House-Select Holland!</a>
			
		</li>
	
		<li>
			<a href="/about-us"><span class="hide-border"></span>About us</a>
			
		</li>
	
		<li>
			<a href="/rent-listings" class="active"><span class="hide-border"></span>Rental</a>
			
		</li>
	
		<li>
			<a href="/sale-listings"><span class="hide-border"></span>Sale</a>
			
		</li>
	
		<li>
			<a href="/rentlead1"><span class="hide-border"></span>Sign up</a>
			
		</li>
	
		<li>
			<a href="/contact2"><span class="hide-border"></span>Contact</a>
			
		</li>
	
</ul>
		</nav>

		<a href="/rent-listings" class="search-icon"></a>

		<div class="full-height"></div>
	</div>
</section>
<script>asap.adjust_nav_width()</script>
<div class="logo-bar-placeholder"></div>
				
					<aside class="address-bar">
	<div class="wrap">
		

		<p class="address"><span><strong>Tel:</strong> +31(0)612717675</span><span><strong>E-mail:</strong> <a href="mailto:info@house-select.nl">info@house-select.nl</a></span><span>Postbus 4107</span><span>2980 GC Ridderkerk</span></p>
	</div>
</aside>
				
				<section class="top-image">
	<aside class="address-bar">
	<div class="wrap">
		

		<p class="address"><span><strong>Tel:</strong> +31(0)612717675</span><span><strong>E-mail:</strong> <a href="mailto:info@house-select.nl">info@house-select.nl</a></span><span>Postbus 4107</span><span>2980 GC Ridderkerk</span></p>
	</div>
</aside>
	<div class="frontpage-slider">
	<ul class="slides">
		
			<li class="slide" data-src="/assets/attachments/59a68a8d6fc0felho-terras-makeover.jpg" style="background-image: url(/assets/attachments/59a68a8d6fc0felho-terras-makeover.jpg)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10a5924bfScreen%20Shot%2009-18-17%20at%2003.19%20PM.PNG" style="background-image: url(/assets/attachments/59ce10a5924bfScreen%20Shot%2009-18-17%20at%2003.19%20PM.PNG)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10ab34efeScreen%20Shot%2009-18-17%20at%2003.22%20PM.PNG" style="background-image: url(/assets/attachments/59ce10ab34efeScreen%20Shot%2009-18-17%20at%2003.22%20PM.PNG)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10b15b5c8Screen%20Shot%2009-18-17%20at%2003.35%20PM.PNG" style="background-image: url(/assets/attachments/59ce10b15b5c8Screen%20Shot%2009-18-17%20at%2003.35%20PM.PNG)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10b712a91Screen%20Shot%2009-18-17%20at%2003.36%20PM.PNG" style="background-image: url(/assets/attachments/59ce10b712a91Screen%20Shot%2009-18-17%20at%2003.36%20PM.PNG)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10bc7238bScreen%20Shot%2009-18-17%20at%2003.38%20PM.PNG" style="background-image: url(/assets/attachments/59ce10bc7238bScreen%20Shot%2009-18-17%20at%2003.38%20PM.PNG)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10c2787fcScreen%20Shot%2009-18-17%20at%2003.40%20PM.PNG" style="background-image: url(/assets/attachments/59ce10c2787fcScreen%20Shot%2009-18-17%20at%2003.40%20PM.PNG)"></li>
		
			<li class="slide" data-src="/assets/attachments/59ce10c91155cScreen%20Shot%2009-18-17%20at%2003.41%20PM.PNG" style="background-image: url(/assets/attachments/59ce10c91155cScreen%20Shot%2009-18-17%20at%2003.41%20PM.PNG)"></li>
		
	</ul>
</div>
<div class="frontpage-slider-nav"></div>

	
</section>
			</header>
		
		

		<div class="main">

			

			

			

			
				<section class="full-search search">
	<div class="ghost"></div>
	<button class="toggle-menu search"></button>
	
		<div class="search-bar-mobile">
    <button class="open-close-toggle"><span>Search</span></button>
    <div class="map-list-toggle map">
        <div class="map-button button hide"></div>
        <div class="list-button button hide"></div>
    </div>
    <div class="favorites-buttons">
        <div class="open-favorites favorites-button"></div>
        <div class="close-favorites favorites-button"></div>
    </div>
</div>
		<form id="search-form-tablet" class="search-form" action="/rent-listings">
    <section class="collapsed-search">
    	<ul class="inputs box-1 dropzone"></ul>
    	<div class="open-close-toggle">
    		<div class="button">Search filters</div>
		    <section class="expanded-search hide-proper-width">
                <div class="scroll">
                    <div class="inputs dropzone"></div>
                </div>
		    </section>
    	</div>
        <div class="map-list-toggle map">
            <div class="map-button button hide">Map</div>
            <div class="list-button button hide">List</div>
        </div>
    </section>
</form>
<div class="favorites-tabs tablet">
    <div class="wrap">
        <div class="open-favorites favorites-tab tab">Show favorites</div>
        <div class="close-favorites favorites-tab tab">Hide favorites</div>
    </div>
</div>
		<form id="search-form-desktop" class="search-form" action="/rent-listings">
    <section class="collapsed-search">
        <div class="wrap">
            <ul class="inputs box-1 dropzone"></ul>
            <div class="map-list-toggle map">
	            <div class="map-button button hide">Map</div>
	            <div class="list-button button hide">List</div>
            </div>
        </div>
    </section>
    <section class="expanded-search">
    	<div class="inputs hide-proper-width">
            <div class="scroll">
                <div class="wrap dropzone"></div>
            </div>
        </div>
        <div class="open-close-toggle">
        	<div class="border"></div>
        	<div class="expanded-search-tab tab">Extensive search</div>
	        <div class="favorites-tabs">
		        <div class="wrap">
		        	<div class="open-favorites favorites-tab tab">Show favorites</div>
		        	<div class="close-favorites favorites-tab tab">Hide favorites</div>
		        </div>
	        </div>
        </div>
    </section>
</form>

	
</section>

<div class="desktop-collapsed-search-placeholder"></div>
<div class="no-desktop-full-search-placeholder"></div>

<div class="map-pane hide-map">
	<ul class="all-results"></ul>
	<div id="maps-overview"></div>
</div>

<section class="results list-pane hide-list">
	<div class="wrap">
		<section class="listings">
			<ul>
				
					<li class="listing regular">
	<a href="/rotterdam-straatweg-ENH02712758339" class="grey-border">
		<div class="listing-slider slider">
	<div class="heart-container">
	<!--[if gte IE 9]><!-->
		<svg class="heart" data-id="H02712758339" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="84.112px" height="81.035px" viewbox="49.944 370.523 84.112 81.035" enable-background="new 49.944 370.523 84.112 81.035" xml:space="preserve">
		<g>
			<path class="fill" fill="#EEF40B" d="M90.394 446.986c-33.451-21.213-37.808-40.418-37.428-49.979c0.358-9.002 5.074-16.753 12.614-20.732 c3.46-1.826 7.11-2.752 10.848-2.752c6.33 0 12.1 2.8 15.6 6.965c3.432-4.208 9.243-6.965 15.572-6.965 c3.738 0 7.4 0.9 10.8 2.752c7.54 4 12.3 11.7 12.6 20.732c0.38 9.561-3.977 28.766-37.428 49.979L92 448 L90.394 446.986z"/>
			<path class="stroke" fill="#F20F0F" d="M107.572 376.523c3.038 0 6.3 0.7 9.4 2.405c15.14 8 21.1 36.286-25.02 65.5 c-46.107-29.238-40.16-57.534-25.02-65.524c3.181-1.679 6.409-2.406 9.447-2.405c7.812 0 14.4 4.8 15.6 10.6 C93.21 381.3 99.8 376.5 107.6 376.5 M107.572 370.523c-5.971 0-11.555 2.181-15.573 5.7 c-4.018-3.516-9.601-5.697-15.572-5.697c-4.231 0-8.352 1.043-12.249 3.099c-8.497 4.484-13.81 13.182-14.211 23.3 c-0.327 8.2 2.6 17 8.6 25.526c6.572 9.4 16.8 18.5 30.3 27.106L92 451.558l3.213-2.038 c13.507-8.566 23.689-17.685 30.261-27.106c5.925-8.493 8.884-17.319 8.557-25.526c-0.401-10.084-5.714-18.781-14.211-23.266 C115.924 371.6 111.8 370.5 107.6 370.523L107.572 370.523z"/>
		</g>
		</svg>
	<!--<![endif]-->
	<div class="stacked-hearts"> <!-- no-svg fallback -->
		<i class="fa fa-heart" data-id="H02712758339"></i>
		<i class="fa fa-heart-o"></i>
	</div>
</div>
	
		<p class="label">Leased</p>
	
	<ul class="slides">
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455034545-816.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455034545-816.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035219-19.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035219-19.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035269-863.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035269-863.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035237-744.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035237-744.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035226-438.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035226-438.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035230-450.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035230-450.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035241-535.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035241-535.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035246-58.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035246-58.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035248-919.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035248-919.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035252-395.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035252-395.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035256-424.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035256-424.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035259-359.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035259-359.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035262-828.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035262-828.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035266-520.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/2758339.1455035266-520.jpg">
				<![endif]-->
			</div>
		</li>
	</ul>
	<div class="counter" style="display: none;">
		<span class="current-slide"></span> / <span class="total-slides"></span>
	</div>
</div>
<script>
	var scripts = document.getElementsByTagName('script');
	var thisScriptTag = scripts[scripts.length - 1];
	var $first_slide = $(thisScriptTag).prev().find('.slide').first();

	if (!ENV.mobile || ENV.mobile_sliders) {
		asap.swap_bgi($first_slide);
	}
</script>

		<article>
			<h3>Straatweg<br>
			Rotterdam</h3>

			
			
				<h4>1 bedroom • 70 m²</h4>
			

			<p class="price">€ 950 (excl.)</p>
			<div class="more-info">more information</div>
		</article>
	</a>
</li>

				
					<li class="listing regular">
	<a href="/rotterdam-philip-vingboonsstraat-ENH02710149" class="grey-border">
		<div class="listing-slider slider">
	<div class="heart-container">
	<!--[if gte IE 9]><!-->
		<svg class="heart" data-id="H02710149" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="84.112px" height="81.035px" viewbox="49.944 370.523 84.112 81.035" enable-background="new 49.944 370.523 84.112 81.035" xml:space="preserve">
		<g>
			<path class="fill" fill="#EEF40B" d="M90.394 446.986c-33.451-21.213-37.808-40.418-37.428-49.979c0.358-9.002 5.074-16.753 12.614-20.732 c3.46-1.826 7.11-2.752 10.848-2.752c6.33 0 12.1 2.8 15.6 6.965c3.432-4.208 9.243-6.965 15.572-6.965 c3.738 0 7.4 0.9 10.8 2.752c7.54 4 12.3 11.7 12.6 20.732c0.38 9.561-3.977 28.766-37.428 49.979L92 448 L90.394 446.986z"/>
			<path class="stroke" fill="#F20F0F" d="M107.572 376.523c3.038 0 6.3 0.7 9.4 2.405c15.14 8 21.1 36.286-25.02 65.5 c-46.107-29.238-40.16-57.534-25.02-65.524c3.181-1.679 6.409-2.406 9.447-2.405c7.812 0 14.4 4.8 15.6 10.6 C93.21 381.3 99.8 376.5 107.6 376.5 M107.572 370.523c-5.971 0-11.555 2.181-15.573 5.7 c-4.018-3.516-9.601-5.697-15.572-5.697c-4.231 0-8.352 1.043-12.249 3.099c-8.497 4.484-13.81 13.182-14.211 23.3 c-0.327 8.2 2.6 17 8.6 25.526c6.572 9.4 16.8 18.5 30.3 27.106L92 451.558l3.213-2.038 c13.507-8.566 23.689-17.685 30.261-27.106c5.925-8.493 8.884-17.319 8.557-25.526c-0.401-10.084-5.714-18.781-14.211-23.266 C115.924 371.6 111.8 370.5 107.6 370.523L107.572 370.523z"/>
		</g>
		</svg>
	<!--<![endif]-->
	<div class="stacked-hearts"> <!-- no-svg fallback -->
		<i class="fa fa-heart" data-id="H02710149"></i>
		<i class="fa fa-heart-o"></i>
	</div>
</div>
	
		<p class="label">Leased</p>
	
	<ul class="slides">
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1415032434-536.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1415032434-536.jpg">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572189-442.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572189-442.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572185-791.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572185-791.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572195-264.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572195-264.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572214-220.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572214-220.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572218-115.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572218-115.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572197-988.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572197-988.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572211-675.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572211-675.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572222-540.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572222-540.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572221-694.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572221-694.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572209-964.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572209-964.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572386-373.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572386-373.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1409572390-680.JPG">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1409572390-680.JPG">
				<![endif]-->
			</div>
		</li>
	
		<li>
			<div class="resize-helper"></div>
			<!-- anchor tag causes iphone navigation bar to drop down on click, so let's use a div instead -->
			<div class="slide b" data-image="https://public.parariusoffice.nl/271/photos/middle/149.1415032436-716.jpg">
				<!--[if lte IE 8]>
					<div class="vertical-align-helper"></div>
					<img src="https://public.parariusoffice.nl/271/photos/middle/149.1415032436-716.jpg">
				<![endif]-->
			</div>
		</li>
	</ul>
	<div class="counter" style="display: none;">
		<span class="current-slide"></span> / <span class="total-slides"></span>
	</div>
</div>
<script>
	var scripts = document.getElementsByTagName('script');
	var thisScriptTag = scripts[scripts.length - 1];
	var $first_slide = $(thisScriptTag).prev().find('.slide').first();

	if (!ENV.mobile || ENV.mobile_sliders) {
		asap.swap_bgi($first_slide);
	}
</script>

		<article>
			<h3>Philip Vingboonsstraat<br>
			Rotterdam</h3>

			
			
				<h4>1 bedroom • 65 m²</h4>
			

			<p class="price">€ 775 (excl.)</p>
			<div class="more-info">more information</div>
		</article>
	</a>
</li>

				
			</ul>
			
		</section>

		
	</div>
</section>
			

			

			

		</div>

		<footer>
	
		<a class="logo" href="/en">
	<img src="/assets/attachments/logo" alt="Company logo">
	<div class="full-height"></div>
</a>
	
	

	<div class="footer-top">
	<div class="wrap">
		<section class="links">
			<h2>Links</h2>
			<ul>
				
			</ul>
		</section>
		<section class="contact">
			<h2>Contact</h2>
			<div class="contact-boxes">
				<p class="contact-box-1">
					<span>House-Select Holland</span><br>
					<span>Postbus 4107</span><br>
					<span>2980 GC Ridderkerk</span><br>
					<span></span>
				</p>
				<p class="contact-box-2">
					<span><strong>T:</strong> +31(0)612717675</span><br>
					
					<span><strong>E:</strong> <a href="mailto:info@house-select.nl">info@house-select.nl</a></span>
				</p>
			</div>
		</section>
	</div>
</div>

	<div class="footer-top-phone">
	
	<section class="contact-buttons">
		<div class="wrap">
			
				<div class="button-container">
					<a href="tel:+31(0)612717675" class="call-button"><span>Call</span></a>
				</div>
			
			
				<div class="button-container">
					<a href="mailto:info@house-select.nl" class="email-button"><span>Email</span></a>
				</div>
			
			<p class="address">House-Select Holland  |  Postbus 4107  |  2980 GC Ridderkerk</p>
		</div>
	</section>
</div>

	<div class="footer-bottom">
		<p class="wrap">© <span class="year">2018</span> - House-Select Holland  •  Powered by <a href="http://www.pararius.nl/parariusoffice/">Pararius Office</a></p>
	</div>
</footer>


		
			<div class="search-form-mobile-popup">
    <div class="overlay-top-bar">
        <div class="close"></div>
    </div>
    <div class="overlay-top-bar-placeholder"></div>
	<form id="search-form-mobile" class="search-form" action=""></form>
	<button class="submit-search-form-mobile submit submit-search"><span>Search</span></button>
</div>
		

		

	</div> <!-- end: #page -->

	<!-- data -->


	<script type="text/template" id="infoboxes-template">
	<div class="infobox-div">
		<div class="close"></div>
		<div class="listing active">
			<a href="<%- url %>" class="grey-border">
				<div class="ajax-slider" data-url="<%- url %>"></div>
				<article>
					<h3><%- address %><br>
					<%- city %></h3>
					<h4><%- bedrooms %> bedrooms  •  <%- bathrooms %> bathrooms</h4>
					<p class="price"><%- price %></p>
					<div class="more-info">more information</div>
				</article>
			</a>
		</div>
	</div>
</script>

	<script type="text/template" id="listing-map-results-template">
	<% _.each(all_results, function(result){ %>
		<li class="listing-map-results" data-id=<%- result.id %>>
			<div class="heart-container">
	<!--[if gte IE 9]><!-->
		<svg class="heart" data-id="<%- result.id %>" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="84.112px" height="81.035px" viewBox="49.944 370.523 84.112 81.035" enable-background="new 49.944 370.523 84.112 81.035" xml:space="preserve">
		<g>
			<path class="fill" fill="#EEF40B" d="M90.394 446.986c-33.451-21.213-37.808-40.418-37.428-49.979c0.358-9.002 5.074-16.753 12.614-20.732 c3.46-1.826 7.11-2.752 10.848-2.752c6.33 0 12.1 2.8 15.6 6.965c3.432-4.208 9.243-6.965 15.572-6.965 c3.738 0 7.4 0.9 10.8 2.752c7.54 4 12.3 11.7 12.6 20.732c0.38 9.561-3.977 28.766-37.428 49.979L92 448 L90.394 446.986z"></path>
			<path class="stroke" fill="#F20F0F" d="M107.572 376.523c3.038 0 6.3 0.7 9.4 2.405c15.14 8 21.1 36.286-25.02 65.5 c-46.107-29.238-40.16-57.534-25.02-65.524c3.181-1.679 6.409-2.406 9.447-2.405c7.812 0 14.4 4.8 15.6 10.6 C93.21 381.3 99.8 376.5 107.6 376.5 M107.572 370.523c-5.971 0-11.555 2.181-15.573 5.7 c-4.018-3.516-9.601-5.697-15.572-5.697c-4.231 0-8.352 1.043-12.249 3.099c-8.497 4.484-13.81 13.182-14.211 23.3 c-0.327 8.2 2.6 17 8.6 25.526c6.572 9.4 16.8 18.5 30.3 27.106L92 451.558l3.213-2.038 c13.507-8.566 23.689-17.685 30.261-27.106c5.925-8.493 8.884-17.319 8.557-25.526c-0.401-10.084-5.714-18.781-14.211-23.266 C115.924 371.6 111.8 370.5 107.6 370.523L107.572 370.523z"></path>
		</g>
		</svg>
	<!--<![endif]-->
	<div class="stacked-hearts"> <!-- no-svg fallback -->
		<i class="fa fa-heart" data-id="<%- result.id %>"></i>
		<i class="fa fa-heart-o"></i>
	</div>
</div>
			<div class="image <%- result.photo_cropped %>" style="background-image: url(<%- result.photo %>)"></div>
			<article>
				<h3><%- result.address %><br>
				<%- result.city %></h3>
				<h4><%- result.bedrooms %> bedrooms  •  <%- result.bathrooms %> bathrooms</h4>
				<p class="price"><%- result.price %></p>
			</article>
		</li>
	<% }); %>
</script>


	
		<script type="text/template" id="search-form-template">
			<form class="search-form" action="/rent-listings">
	
		<ul class="box-1">
			
				
					
						<li class="min_price">
							<label for="search-min_price">Price from</label>
							
							
								<select name="min_price">
									
									<option value="">——</option>
									
									<option value="0">€0,-</option>
									
									<option value="100">€100,-</option>
									
									<option value="200">€200,-</option>
									
									<option value="300">€300,-</option>
									
									<option value="400">€400,-</option>
									
									<option value="500">€500,-</option>
									
									<option value="600">€600,-</option>
									
									<option value="700">€700,-</option>
									
									<option value="800">€800,-</option>
									
									<option value="900">€900,-</option>
									
									<option value="1000">€1000,-</option>
									
									<option value="1100">€1100,-</option>
									
									<option value="1200">€1200,-</option>
									
									<option value="1300">€1300,-</option>
									
									<option value="1400">€1400,-</option>
									
									<option value="1500">€1500,-</option>
									
									<option value="1600">€1600,-</option>
									
									<option value="1700">€1700,-</option>
									
									<option value="1800">€1800,-</option>
									
									<option value="1900">€1900,-</option>
									
									<option value="2000">€2000,-</option>
									
									<option value="2100">€2100,-</option>
									
									<option value="2200">€2200,-</option>
									
									<option value="2300">€2300,-</option>
									
									<option value="2400">€2400,-</option>
									
									<option value="2500">€2500,-</option>
									
									<option value="2600">€2600,-</option>
									
									<option value="2700">€2700,-</option>
									
									<option value="2800">€2800,-</option>
									
									<option value="2900">€2900,-</option>
									
									<option value="3000">€3000,-</option>
									
									<option value="3100">€3100,-</option>
									
									<option value="3200">€3200,-</option>
									
									<option value="3300">€3300,-</option>
									
									<option value="3400">€3400,-</option>
									
									<option value="3500">€3500,-</option>
									
									<option value="3600">€3600,-</option>
									
									<option value="3700">€3700,-</option>
									
									<option value="3800">€3800,-</option>
									
									<option value="3900">€3900,-</option>
									
									<option value="4000">€4000,-</option>
									
									<option value="4100">€4100,-</option>
									
									<option value="4200">€4200,-</option>
									
									<option value="4300">€4300,-</option>
									
									<option value="4400">€4400,-</option>
									
									<option value="4500">€4500,-</option>
									
									<option value="4600">€4600,-</option>
									
									<option value="4700">€4700,-</option>
									
									<option value="4800">€4800,-</option>
									
									<option value="4900">€4900,-</option>
									
									<option value="5000">€5000,-</option>
									
								</select>
							
							
						</li>
					
					
				
			
				
					
						<li class="max_price">
							<label for="search-max_price">Price to</label>
							
							
								<select name="max_price">
									
									<option value="">——</option>
									
									<option value="0">€0,-</option>
									
									<option value="100">€100,-</option>
									
									<option value="200">€200,-</option>
									
									<option value="300">€300,-</option>
									
									<option value="400">€400,-</option>
									
									<option value="500">€500,-</option>
									
									<option value="600">€600,-</option>
									
									<option value="700">€700,-</option>
									
									<option value="800">€800,-</option>
									
									<option value="900">€900,-</option>
									
									<option value="1000" selected="selected">€1000,-</option>
									
									<option value="1100">€1100,-</option>
									
									<option value="1200">€1200,-</option>
									
									<option value="1300">€1300,-</option>
									
									<option value="1400">€1400,-</option>
									
									<option value="1500">€1500,-</option>
									
									<option value="1600">€1600,-</option>
									
									<option value="1700">€1700,-</option>
									
									<option value="1800">€1800,-</option>
									
									<option value="1900">€1900,-</option>
									
									<option value="2000">€2000,-</option>
									
									<option value="2100">€2100,-</option>
									
									<option value="2200">€2200,-</option>
									
									<option value="2300">€2300,-</option>
									
									<option value="2400">€2400,-</option>
									
									<option value="2500">€2500,-</option>
									
									<option value="2600">€2600,-</option>
									
									<option value="2700">€2700,-</option>
									
									<option value="2800">€2800,-</option>
									
									<option value="2900">€2900,-</option>
									
									<option value="3000">€3000,-</option>
									
									<option value="3100">€3100,-</option>
									
									<option value="3200">€3200,-</option>
									
									<option value="3300">€3300,-</option>
									
									<option value="3400">€3400,-</option>
									
									<option value="3500">€3500,-</option>
									
									<option value="3600">€3600,-</option>
									
									<option value="3700">€3700,-</option>
									
									<option value="3800">€3800,-</option>
									
									<option value="3900">€3900,-</option>
									
									<option value="4000">€4000,-</option>
									
									<option value="4100">€4100,-</option>
									
									<option value="4200">€4200,-</option>
									
									<option value="4300">€4300,-</option>
									
									<option value="4400">€4400,-</option>
									
									<option value="4500">€4500,-</option>
									
									<option value="4600">€4600,-</option>
									
									<option value="4700">€4700,-</option>
									
									<option value="4800">€4800,-</option>
									
									<option value="4900">€4900,-</option>
									
									<option value="5000">€5000,-</option>
									
								</select>
							
							
						</li>
					
					
				
			
				
					
						<li class="city">
							<label for="search-city">City</label>
							
							
								<select name="city">
									
									<option value="">——</option>
									
									<option value="Barendrecht">Barendrecht</option>
									
									<option value="Heinenoord">Heinenoord</option>
									
									<option value="Hendrik-Ido-Ambacht">Hendrik-Ido-Ambacht</option>
									
									<option value="Ridderkerk">Ridderkerk</option>
									
									<option value="Rotterdam" selected="selected">Rotterdam</option>
									
								</select>
							
							
						</li>
					
					
				
			
				
					
						<li class="district">
							<label for="search-district">District</label>
							
							
								<select name="district">
									
									<option value="">——</option>
									
									<option value="Carnisselanden">Carnisselanden</option>
									
									<option value="Centrum">Centrum</option>
									
									<option value="Centrum">Centrum</option>
									
									<option value="Het Lage Land">Het Lage Land</option>
									
									<option value="Hillegersberg">Hillegersberg</option>
									
									<option value="Hillergersberg">Hillergersberg</option>
									
									<option value="Lloydkwartier">Lloydkwartier</option>
									
									<option value="Rijsoord">Rijsoord</option>
									
									<option value="Scheepvaartkwartier">Scheepvaartkwartier</option>
									
									<option value="Slikkerveer">Slikkerveer</option>
									
									<option value="Stadsdriehoek">Stadsdriehoek</option>
									
									<option value="Struisenburg / Kralingen Oost">Struisenburg / Kralingen Oost</option>
									
								</select>
							
							
						</li>
					
					
				
			
				
					
						<li class="interior">
							<label for="search-interior">Interior</label>
							
							
								<select name="interior">
									
									<option value="">——</option>
									
									<option value="Unfurnished">Unfurnished</option>
									
									<option value="Furnished">Furnished</option>
									
									<option value="Completely empty">Completely empty</option>
									
									<option value="Unfurnished / furnished">Unfurnished / furnished</option>
									
								</select>
							
							
						</li>
					
					
				
			
				
					
						<li class="bedrooms">
							<label for="search-bedrooms">Bedrooms</label>
							
							
								<select name="bedrooms">
									
									<option value="">——</option>
									
									<option value="1">1</option>
									
									<option value="2">2</option>
									
									<option value="3">3</option>
									
									<option value="4">4</option>
									
									<option value="5">5</option>
									
									<option value="6">6</option>
									
									<option value="7">7</option>
									
									<option value="8">8</option>
									
									<option value="9">9</option>
									
									<option value="10">10</option>
									
								</select>
							
							
						</li>
					
					
				
			
		</ul>

		
	

	<button type="submit"><span>Search</span></button>
</form>
		</script>
	

	<script>
		var all_results = [{
			id: "H02712758339",
			lat: "51.94908765",
			lng: "4.48717756",
			title: "Straatweg, Rotterdam",
			url: "/rotterdam-straatweg-ENH02712758339",
			photo: "https://public.parariusoffice.nl/271/photos/middle/2758339.1455034545-816.jpg",
			photo_cropped: "-",
			price: "€ 950 (excl.)",
			city: "Rotterdam",
			address: "Straatweg",
			bedrooms: "1",
			bathrooms: "1"
		},
		{
			id: "H02710149",
			lat: "51.9387657",
			lng: "4.540562",
			title: "Philip Vingboonsstraat, Rotterdam",
			url: "/rotterdam-philip-vingboonsstraat-ENH02710149",
			photo: "https://public.parariusoffice.nl/271/photos/middle/149.1415032434-536.jpg",
			photo_cropped: "-",
			price: "€ 775 (excl.)",
			city: "Rotterdam",
			address: "Philip Vingboonsstraat",
			bedrooms: "1",
			bathrooms: "1"
		},
		{dummy: true}];

		// remove the dummy object and thereby the trailing comma (ie8 fix)
		all_results.splice(-1,1);
	</script>


	<!-- scripts -->





	<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-69419173-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC7TKXjzV5_SIKcM2KBOQv5sp5BFym56A&language=en"></script>
<script>
	ENV.house_icon = {
	    path: "M419.492,275.815v166.213H300.725v-90.33h-89.451v90.33H92.507V275.815H50L256,69.972l206,205.844H419.492z M394.072,88.472h-47.917v38.311l47.917,48.023V88.472z",
	    fillColor: '#eeaf27',
	    fillOpacity: 1,
	    strokeWeight: 1.2,
		strokeColor: '#fff',
	    scale: 0.055,
		anchor: new google.maps.Point(257, 280)
	}
</script>

	<script src="/assets/minified-footer-EtNSIbw7zI7YSRZadZWJBw.js"></script>

	
</body>
</html>
